body {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 5%;
    background-color: #4682B4;

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-size: 12px;
    padding: 4%;
    width: 160px;
    background-color: #2A4E6C;
    border-radius: 8px;
}

h1 {
    position: relative;
    text-align: center;
    top: -20px;
}

.form-control {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input {
    border-left: none;
    border-top: none;
    border-right: none;
    background-color: transparent;
    border-color: white;
}

label {
    position: relative;
    top: -36px;
}

.btn {
    border-radius: 5px;
    border-color: #ADD8E6;
    border-style: none;
    background-color: #ADD8E6;
    width: 200px;
    height: 35px;
}

a[href='#'] {
    color: #ADD8E6;
    text-decoration: none;
}


/* para poder hacer click en el input */
.form-control label {    
    pointer-events: none;  
   }  

/* efecto que se le da a cada letra */
.form-control label span {  
 display: inline-block;  
 font-size: 18px;  
 min-width: 5px;  
 transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);  
}  

/* accedo a cada letra y las muevo de lugar */
.form-control input:focus + label span,  
.form-control input:valid + label span {  
 color: lightblue;  
 transform: translateY(-30px);  
} 
